<% include ./partials/header %>
<% moles.forEach(function(mole){ %>
    <div>
        <h2>Lesion #<%=mole.basicId%></h2>
        <img src="photos/<%=mole["path"]%>">	
        <span><%= mole.date %></span>
        <p><%= mole.malignancyRisk %></p>
        <p>
            <% if(mole.malignancyRisk == "High"){ %>
                <%= mole.malignancy %>
            <% } else{%>
            <%= 1 - mole.malignancy %>
            <% } %>
        
        </p>
        <a href="/showpage/<%= mole._id %>">View</a>
        
        
    </div>
    
<% }) %>



<% include ./partials/footer %>
